.bannersection{
    background: url(/images/banner-image.jpg);
    height: 91vh;
}
.bannerContainer{
    height: inherit;
}
.bannerRow{
    height: inherit;
    align-items: center;
}

@media only screen and (max-width: 600px) {
.bannerCol {
    text-align: center;
}
}