.carouselSection {
    background: #213454;
    color: #fff;
}

.carouselRow {
    height: 200px;
}
.carouselCol{
    justify-content: center;
}
.carouselIcon{
    margin: 0 30px;
}
.carouselIcon  {
    display: var(--fa-display, inline-block);
    font-size: 65px;
    overflow: visible;
    vertical-align: -0.125em;
    margin: 18px;
    color: darkorange;
}
@media only screen and (max-width: 600px) {

.carouselRow {
    height: inherit;
}

.carouselCol {
    justify-content: center;
}

.carouselSection {
    padding: 40px 0px;
}
}