@media only screen and (max-width: 600px) {
    

    .navCol {
        max-width: 33% !important;
    }
    .SocialIcons .socialIiconsContainer span {
        margin: 0px !important;
    }
    .innerIcons{
        margin: 0px !important;
    }
}




.socialIiconsContainer span {
    border-radius: 5px;
    text-align: center;
}

.NavHeadSection {
    background: #213454;
    height: 60px;
}

.navRow {
    text-align: center;
    height: inherit;
}