.sideLines {
    border: 0;
    border-top: 3px solid;
    width: 36px;
    display: inline-block;
    margin: 7px 12px;
    border-radius: 13px;
}
.iconSize{
    font-size: 25px;
}
.adviceSection {
    background-color: #213454;
    padding: 80px 0px;

}

.adviceSection a {
    color: #fff;
}
@media only screen and (max-width: 600px) {
    .adviceCol div {
        display: block !important;
        text-align: center;
    }

    .adviceCol div h3 {
        margin-left: 0px !important;
        margin-top: 5px;
    }

    .adviceSection {
        padding: 35px 0px;
    }
}