.brandSection {
    background-color: #b99b5f;
    padding: 30px 0px;
}
.brandContainer {
    height: 80px;
    width: 72%;
    color: #fff;
}
.brandRow {
    height: inherit;
}
.brandCol {
    display: flex;
}
.BrandIcon{
    font-size: 40px;
}
@media only screen and (max-width: 600px) {
    .brandSection {
        padding: 60px 0px;
    }

    .brandContainer {
        height: inherit;
    }

    .brandCol {
        display: block !important;
        text-align: center;
    }
    .brandCol{
        margin: 20px 0px;
    }
}