
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
h1{
font-weight: 700;
}
p{
  font-weight: 500;
}
a {
  color:inherit ;
  text-decoration: none;
}
button{
  font-weight: 500;
}
.nav-link{
  font-weight: 500;
}
.txtOrange{
  color: #c2a975;
}
.txtOrangeBg{
  background-color: #c2a975;
}
.orangeText{
  color: #b89c5e;
}
.orangeBg{
  background: #b89c5e ;
}
.sideLines {
  border: 0;
  border-top: 3px solid;
  width: 36px;
  display: inline-block;
  margin: 7px 12px;
  border-radius: 13px;
}
.iconSize{
  font-size: 25px;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media only screen and (max-width: 600px) {

  .mainRow {
      text-align: center;
  }

  .mainSection {
      padding: 0px;
  }

  
  .inCol p{
      text-align: center !important;
  }
  
}