@media only screen and (max-width: 600px) {
    .attorneyCol {
        text-align: center;
        padding: 30px;
    }

    .attorneySocials {
        justify-content: center;
    }

    .newsCol {
        padding: 15px;
    }

    .newsSection {
        padding: 20px 0px;
    }

    .newsRow {
        padding: 15px;
    }

    .attorneyRow {
        padding: 15px;
    }

    .adviceCol div {
        display: block !important;
        text-align: center;
    }

    .adviceCol div h3 {
        margin-left: 0px !important;
        margin-top: 5px;
    }

    .adviceSection {
        padding: 35px 0px;
    }

    .brandSection {
        padding: 60px 0px;
    }

    .brandContainer {
        height: inherit;
    }

    .brandCol {
        display: block !important;
        text-align: center;
    }

    .clientContainer {
        padding: 0px !important;
        text-align: center;
    }

    .clientImages {
        text-align: center;
    }

    .clientImage {
        justify-content: center;
    }

    .carouselRow {
        height: inherit;
    }

    .carouselCol {
        justify-content: center;
    }

    .carouselSection {
        padding: 40px 0px;
    }

    .gridSection {
        padding: 60px 0px;
    }

    .bannerCol {
        text-align: center;
    }

    .mainRow {
        text-align: center;
    }

    .mainSection {
        padding: 0px;
    }

    .promContainer {
        margin: 30px 0px;
        padding-top: 20px;
    }

    .promRow {
        text-align: center;
    }

    .promCol {
        margin: 20px;
    }
    .navbarBrand{
        margin-left: 25px;
    }
    .navSocials i{
        margin: 0px !important;
    }
    .navCol{
        max-width: 33% !important;
    }
    .navbar-collapse{
        background-color: #eee;
        margin-top: 15px;
    }
    .inCol p{
        text-align: center !important;
    }
    .footerRow{
        text-align: center;
    }
    .hrLine {
        margin: 0px 169px;
        width: 140px;
        border: 1px solid #b89c5e;
        color: #b89c5e;
    }
    .brandCol{
        margin: 20px 0px;
    }
}

@media only screen and (min-width: 600px) {

    .promContainer {
        width: 75% !important;
        height: 120px;
        position: absolute;
        left: 12%;
        top: -9%;
    }
}